* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/background_image.png");
}
#nav_bar {
  margin: 15px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  color: #fff;
  margin-left: 20px;
  padding: 10px 25px;
}

ul {
  padding: 10px 25px;
  list-style: none;
  display: flex;
  gap: 40px;
}

ul li {
  color: #fff;
  font-size: 22px;
  margin-right: 20px;
}
